flows_Experimentador.json
[
    {
        "id": "0d994888ecbec5a9",
        "type": "tab",
        "label": "Experimentador",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "376708e12772b405",
        "type": "tab",
        "label": "Home",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4ca08a68e58fb9c9",
        "type": "tab",
        "label": "Testes",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "769e63f2a79e59af",
        "type": "subflow",
        "name": "Lista redes",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 340,
                "y": 180,
                "wires": [
                    {
                        "id": "6d9edbb7e4b3b45f"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 820,
                "y": 180,
                "wires": [
                    {
                        "id": "bb1d75f629964d75",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "icon": "font-awesome/fa-wifi"
    },
    {
        "id": "3b59c7cb71354422",
        "type": "subflow",
        "name": "Lista Serviços",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 240,
                "y": 240,
                "wires": [
                    {
                        "id": "9236c5bf178b84ed"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1100,
                "y": 240,
                "wires": [
                    {
                        "id": "67ff41dba8a62069",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#AAAA66"
    },
    {
        "id": "8201d03376b5cd85",
        "type": "subflow",
        "name": "Lista Dispositivos",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 160,
                "y": 240,
                "wires": [
                    {
                        "id": "ece2d631a1e4d699"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 990,
                "y": 240,
                "wires": [
                    {
                        "id": "5c42b4c62f41c326",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1130,
                "y": 360,
                "wires": [
                    {
                        "id": "f644f720925599e5",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#FFAAAA",
        "outputLabels": [
            "Saida Detalhada",
            "Saida Simplificada"
        ],
        "icon": "font-awesome/fa-desktop"
    },
    {
        "id": "092d1466ba43a0cb",
        "type": "subflow",
        "name": "Atualizar lista de Conexões",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 220,
                "y": 220,
                "wires": [
                    {
                        "id": "43576ba5998b0678"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 560,
                "y": 220,
                "wires": [
                    {
                        "id": "43576ba5998b0678",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#F3B567",
        "icon": "font-awesome/fa-upload"
    },
    {
        "id": "63b650c6a477cad2",
        "type": "subflow",
        "name": "Upload",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 120,
                "y": 200,
                "wires": [
                    {
                        "id": "941780e71b2b024e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 980,
                "y": 200,
                "wires": [
                    {
                        "id": "ae02c2d61a65fb27",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#F3B567",
        "icon": "font-awesome/fa-upload"
    },
    {
        "id": "260dbc49b3e1ca51",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "dark"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "mouse",
            "lockMenu": "false",
            "allowTempTheme": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "09aa191131dbb9db",
        "type": "ui_tab",
        "name": "Experimentador",
        "icon": "cloud_upload",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "053f1dbc3dc11439",
        "type": "ui_group",
        "name": "Control",
        "tab": "09aa191131dbb9db",
        "order": 2,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "33449842d220a57b",
        "type": "ui_group",
        "name": "Wifi",
        "tab": "09aa191131dbb9db",
        "order": 3,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7246bb7ca45fc30a",
        "type": "ui_group",
        "name": "Dispositivos",
        "tab": "09aa191131dbb9db",
        "order": 4,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "93ef745fd1be13da",
        "type": "ui_group",
        "name": "Servicos",
        "tab": "09aa191131dbb9db",
        "order": 5,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b6adb5e6150b3a91",
        "type": "ui_group",
        "name": "Control",
        "tab": "b50f0bec59500da1",
        "order": 1,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b50f0bec59500da1",
        "type": "ui_tab",
        "name": "Home",
        "icon": "home",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "942911e5a152ccc7",
        "type": "ui_group",
        "name": "Upload",
        "tab": "09aa191131dbb9db",
        "order": 6,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2c78b0ba92f78cd4",
        "type": "ui_spacer",
        "z": "0d994888ecbec5a9",
        "name": "spacer",
        "group": "33449842d220a57b",
        "order": 2,
        "width": 15,
        "height": 1
    },
    {
        "id": "dc8b0b781b1b825c",
        "type": "ui_spacer",
        "z": "0d994888ecbec5a9",
        "name": "spacer",
        "group": "33449842d220a57b",
        "order": 3,
        "width": 15,
        "height": 1
    },
    {
        "id": "29fe1cd3d09abf2e",
        "type": "ui_spacer",
        "z": "0d994888ecbec5a9",
        "name": "spacer",
        "group": "7246bb7ca45fc30a",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "ba02470eb3d78f59",
        "type": "ui_spacer",
        "z": "0d994888ecbec5a9",
        "name": "spacer",
        "group": "942911e5a152ccc7",
        "order": 3,
        "width": 15,
        "height": 1
    },
    {
        "id": "2bd24beee43c61d9",
        "type": "ui_group",
        "name": "go back",
        "tab": "09aa191131dbb9db",
        "order": 1,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ffe4e3525bc6133d",
        "type": "ui_spacer",
        "z": "0d994888ecbec5a9",
        "name": "spacer",
        "group": "b6adb5e6150b3a91",
        "order": 2,
        "width": 7,
        "height": 1
    },
    {
        "id": "be6b79f2519db05b",
        "type": "ui_spacer",
        "z": "0d994888ecbec5a9",
        "name": "spacer",
        "group": "b6adb5e6150b3a91",
        "order": 4,
        "width": 8,
        "height": 1
    },
    {
        "id": "6046a4c913dfefc9",
        "type": "ui_spacer",
        "z": "0d994888ecbec5a9",
        "name": "spacer",
        "group": "b6adb5e6150b3a91",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "6d9edbb7e4b3b45f",
        "type": "http request",
        "z": "769e63f2a79e59af",
        "name": "/configuracoes/read",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://spring-boot-app:8080/configuracoes/read",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 180,
        "wires": [
            [
                "bb1d75f629964d75"
            ]
        ]
    },
    {
        "id": "bb1d75f629964d75",
        "type": "json",
        "z": "769e63f2a79e59af",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 710,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "97b9785bf68e1006",
        "type": "json",
        "z": "3b59c7cb71354422",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 590,
        "y": 240,
        "wires": [
            [
                "67ff41dba8a62069"
            ]
        ]
    },
    {
        "id": "9236c5bf178b84ed",
        "type": "http request",
        "z": "3b59c7cb71354422",
        "name": "/servicos/read",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://spring-boot-app:8080/servicos/read",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 400,
        "y": 240,
        "wires": [
            [
                "97b9785bf68e1006"
            ]
        ]
    },
    {
        "id": "67ff41dba8a62069",
        "type": "function",
        "z": "3b59c7cb71354422",
        "name": "String parser to OBJ",
        "func": "var arr  = [];\nvar lenP = 0;\nvar k = 0;\nvar len  = msg.payload.length;\nfor (var i = 0; i < len; i++) {\n    lenP = msg.payload[i].pinagens.length;\n    if (lenP != 0) {\n        for (var j = 0; j < lenP; j++) {\n            arr[k] = {\n                IdServico: msg.payload[i].idServico,\n                IdPinagem: msg.payload[i].pinagens[j].idPinagem,\n                Pino_Dispositivo: msg.payload[i].pinagens[j].pinoDispositivo,\n                Pino_Sensor: msg.payload[i].pinagens[j].pinoSensor\n            };\n            k++;\n        }\n    }\n    if (!lenP){\n        arr[k] = {\n            IdServico: msg.payload[i].idServico\n        };\n        k++;\n    }\n\n}\nmsg.payload = arr;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 240,
        "wires": [
            []
        ],
        "info": "Formata string e transforma em uma lista de objetos"
    },
    {
        "id": "ece2d631a1e4d699",
        "type": "http request",
        "z": "8201d03376b5cd85",
        "name": "/dispositivos/read",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://spring-boot-app:8080/dispositivos/read",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 240,
        "wires": [
            [
                "89156c31c0a07cc8"
            ]
        ]
    },
    {
        "id": "89156c31c0a07cc8",
        "type": "json",
        "z": "8201d03376b5cd85",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 510,
        "y": 240,
        "wires": [
            [
                "5c42b4c62f41c326"
            ]
        ]
    },
    {
        "id": "5c42b4c62f41c326",
        "type": "function",
        "z": "8201d03376b5cd85",
        "name": "String parser to OBJ",
        "func": "var arr = []; \nvar plen = msg.payload.length;\nvar test;\nfor (var i = 0; i < plen; i++){   \n    if (msg.payload[i].conexoes.length != 0 && msg.payload[i].servicos.length !=0){\n        arr[i] = {\n            idDispositivo: msg.payload[i].idDispositivo,\n            nome: msg.payload[i].nome,\n            descricao: msg.payload[i].descricao,\n            placa: msg.payload[i].placa,\n            portaCadastro: msg.payload[i].portaCadastro,\n            firmware: msg.payload[i].firmware,\n            idConexao: msg.payload[i].conexoes[0].idConexao,\n            ip: msg.payload[i].conexoes[0].ip,\n            idServico: msg.payload[i].servicos[0].idServico\n        }\n    }\n    if (msg.payload[i].conexoes.length == 0 && msg.payload[i].servicos.length != 0) {\n        arr[i] = {\n            idDispositivo: msg.payload[i].idDispositivo,\n            nome: msg.payload[i].nome,\n            descricao: msg.payload[i].descricao,\n            placa: msg.payload[i].placa,\n            portaCadastro: msg.payload[i].portaCadastro,\n            firmware: msg.payload[i].firmware,\n            idConexao: \"0\",\n            ip: \"0\",\n            idServico: msg.payload[i].servicos[0].idServico\n        }\n    }\n    if (msg.payload[i].conexoes.length != 0 && msg.payload[i].servicos.length == 0) {\n        arr[i] = {\n            idDispositivo: msg.payload[i].idDispositivo,\n            nome: msg.payload[i].nome,\n            descricao: msg.payload[i].descricao,\n            placa: msg.payload[i].placa,\n            portaCadastro: msg.payload[i].portaCadastro,\n            firmware: msg.payload[i].firmware,\n            idConexao: msg.payload[i].conexoes[0].idConexao,\n            ip: msg.payload[i].conexoes[0].ip,\n            idServico: \"0\"\n        }\n    }\n    if (msg.payload[i].conexoes.length == 0 && msg.payload[i].servicos.length == 0) {\n        arr[i] = {\n            idDispositivo: msg.payload[i].idDispositivo,\n            nome: msg.payload[i].nome,\n            descricao: msg.payload[i].descricao,\n            placa: msg.payload[i].placa,\n            portaCadastro: msg.payload[i].portaCadastro,\n            firmware: msg.payload[i].firmware,\n            idConexao: \"0\",\n            ip: \"0\",\n            idServico: \"0\"\n        }\n    }\n}\n\nmsg.payload = arr;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 240,
        "wires": [
            [
                "f644f720925599e5"
            ]
        ],
        "info": "Formata string e transforma em uma lista de objetos"
    },
    {
        "id": "f644f720925599e5",
        "type": "function",
        "z": "8201d03376b5cd85",
        "name": "String parser to OBJ",
        "func": "var arr = [];\nvar len = msg.payload.length;\nfor (var i = 0; i < len;i++) {\n    arr[i] = {\n        idDispositivo: msg.payload[i].idDispositivo,\n        nome: msg.payload[i].nome,\n        firmware: msg.payload[i].firmware,\n        ip: msg.payload[i].ip,\n        idConexao: msg.payload[i].idConexao,\n        conexao: msg.payload[i].idConexao == \"0\"? false:true,\n        idServico: msg.payload[i].idServico\n    };\n}\nmsg.payload = arr;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 360,
        "wires": [
            []
        ],
        "info": "Formata string e transforma em uma lista de objetos"
    },
    {
        "id": "43576ba5998b0678",
        "type": "http request",
        "z": "092d1466ba43a0cb",
        "name": "conexoes/update",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://spring-boot-app:8080/conexoes/update?segundosEsperaRespostas={{{payload.segundosEsperaRespostas}}}&idConfiguracao={{{payload.idConfiguracao}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "ae02c2d61a65fb27",
        "type": "http request",
        "z": "63b650c6a477cad2",
        "name": "conexoes/upload/idConexao",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://spring-boot-app:8080/conexoes/upload/{{{idConexao}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 780,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "941780e71b2b024e",
        "type": "file",
        "z": "63b650c6a477cad2",
        "name": "",
        "filename": "file.name",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 280,
        "y": 200,
        "wires": [
            [
                "4b63c8aee0caf6be"
            ]
        ]
    },
    {
        "id": "4b63c8aee0caf6be",
        "type": "function",
        "z": "63b650c6a477cad2",
        "name": "Format the header and payload",
        "func": "const globalcontext = context.global.idConexao;\nmsg.idConexao = globalcontext;\n\nmsg.headers = {\n    \"Content-Type\": \"multipart/form-data; boundary=------------------------d74496d66958873e\"\n}\n\n\nmsg.payload = '--------------------------d74496d66958873e\\r\\n' +\n    'Content-Disposition: form-data; name=\"select\"\\r\\n' +\n    '\\r\\n' +\n    'true\\r\\n' +\n    '--------------------------d74496d66958873e\\r\\n' +\n    'Content-Disposition: form-data; name=\"print\"\\r\\n' +\n    '\\r\\n' +\n    'true\\r\\n' +\n    '--------------------------d74496d66958873e\\r\\n' +\n    'Content-Disposition: form-data; name=\"file\"; filename=\"' + msg.filename + '\"\\r\\n' +\n    'Content-Type: application/octet-stream\\r\\n' +\n    '\\r\\n' +\n    msg.payload + '\\r\\n' +\n    '--------------------------d74496d66958873e--\\r\\n';\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 200,
        "wires": [
            [
                "ae02c2d61a65fb27"
            ]
        ]
    },
    {
        "id": "76532f0468617d89",
        "type": "comment",
        "z": "0d994888ecbec5a9",
        "name": "Experimentador",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "d47681323c3b9c79",
        "type": "ui_template",
        "z": "0d994888ecbec5a9",
        "group": "053f1dbc3dc11439",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    h1.titulo {\n        text-align: center;\n        font-size: 50px;\n    }\n\n    h4.subTitle {\n        padding: 10px 40px;\n    }\n</style>\n<div>\n    <h1 class=\"titulo\">Experimentador</h1>\n    <h4 class=\"subTitle\">Aqui no experimentador temos uma forma simples e rápida de fazer o upload do seu código</h4>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 100,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "55f8d9ffc83c7af3",
        "type": "subflow:8201d03376b5cd85",
        "z": "0d994888ecbec5a9",
        "name": "",
        "x": 750,
        "y": 400,
        "wires": [
            [],
            [
                "88f5237ea462bcbb",
                "3ccf2b1193d815ef",
                "69f00ec9c8106798"
            ]
        ]
    },
    {
        "id": "3ccf2b1193d815ef",
        "type": "ui_table",
        "z": "0d994888ecbec5a9",
        "group": "7246bb7ca45fc30a",
        "name": "",
        "order": 9,
        "width": 0,
        "height": 0,
        "columns": [
            {
                "field": "nome",
                "title": "Nome",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "firmware",
                "title": "Firmware",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "idServico",
                "title": "ID do Serviço",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "ip",
                "title": "IP",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "conexao",
                "title": "Conexão",
                "width": "",
                "align": "left",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 970,
        "y": 420,
        "wires": []
    },
    {
        "id": "7d4b6335905a806d",
        "type": "subflow:092d1466ba43a0cb",
        "z": "0d994888ecbec5a9",
        "name": "",
        "x": 1040,
        "y": 340,
        "wires": [
            [
                "b1f02f8ef6aeb7b3"
            ]
        ]
    },
    {
        "id": "97b4a0b80f16c981",
        "type": "subflow:769e63f2a79e59af",
        "z": "0d994888ecbec5a9",
        "name": "",
        "x": 330,
        "y": 200,
        "wires": [
            [
                "a5fb06e1f94f344a"
            ]
        ]
    },
    {
        "id": "a5fb06e1f94f344a",
        "type": "function",
        "z": "0d994888ecbec5a9",
        "name": "Filtra wifi ativo",
        "func": "var len = msg.payload.length;\nfor (var i = 0; i<len; i++) {\n    if(msg.payload[i].ativa == true){\n        context.flow.IDwifi = msg.payload[i].idConfiguracao;\n        msg.payload = msg.payload[i];\n        return msg;\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 200,
        "wires": [
            [
                "5192c0c.07a6f4",
                "bcce7872ad5ad06e"
            ]
        ]
    },
    {
        "id": "1b07382131baafc6",
        "type": "inject",
        "z": "0d994888ecbec5a9",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "97b4a0b80f16c981"
            ]
        ]
    },
    {
        "id": "5192c0c.07a6f4",
        "type": "ui_template",
        "z": "0d994888ecbec5a9",
        "group": "33449842d220a57b",
        "name": "Wifi Button",
        "order": 1,
        "width": 5,
        "height": 2,
        "format": "<!DOCTYPE html>\n<html>\n<head>\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    <style type=\"text/css\">\n        .fa_custom1{\n            position: absolute;\n            top: 5px;\n            left: 15px;\n            color: #1E90FF;\n        }\n        .fa_custom2{\n            position: absolute;\n            top: 5px;\n            right: 15px;\n            color:lightgreen;\n        }\n        .buttonWifi{\n            background-color: #097479;\n            padding: 0;\n            margin: 20;\n            border-radius: 12px 12px 12px 12px;\n        }\n        .texto{\n            position: absolute;\n            top: -1px;\n            left: 55px;\n            color:lightgreen;\n        }\n        .text{\n            padding: 10px 40px;\n        }\n    </style>\n</head>\n\n<body>\n    <h3 class=\"text\">Rede WIFI: </h3>\n    <md-button class=\"buttonWifi\" title=\"Configurações de Rede\" ng-click=\"send({'payload':'att'})\">\n        <i class=\"fa fa-wifi fa_custom1 fa-2x\"></i> <spam class=\"texto\">{{msg.payload.nomeWiFi}}</spam> \n        <i class=\"fa fa-check-circle fa_custom2 fa-2x\" ></i>\n    </md-button >\n</body>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 830,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "da4bbd3f1dd87566",
        "type": "comment",
        "z": "0d994888ecbec5a9",
        "name": "Show Wifi Ativo e Atualiza conexões, com botão para Configuração de Rede",
        "info": "",
        "x": 310,
        "y": 160,
        "wires": []
    },
    {
        "id": "dfa0a1b76ebf0365",
        "type": "comment",
        "z": "0d994888ecbec5a9",
        "name": "Show lista de dispositivos cadastrados e Atualiza as conexoes ativas",
        "info": "",
        "x": 280,
        "y": 320,
        "wires": []
    },
    {
        "id": "1a3c492ed44cb8bb",
        "type": "debug",
        "z": "0d994888ecbec5a9",
        "name": "debug 71",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 300,
        "wires": []
    },
    {
        "id": "69f00ec9c8106798",
        "type": "debug",
        "z": "0d994888ecbec5a9",
        "name": "debug 72",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 380,
        "wires": []
    },
    {
        "id": "967d496d.a17698",
        "type": "ui_dropdown",
        "z": "0d994888ecbec5a9",
        "name": "Data source",
        "label": "",
        "tooltip": "",
        "place": "",
        "group": "942911e5a152ccc7",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "datasource",
        "topicType": "str",
        "className": "",
        "x": 410,
        "y": 560,
        "wires": [
            [
                "5615359c9c0a4a7e"
            ]
        ]
    },
    {
        "id": "88f5237ea462bcbb",
        "type": "function",
        "z": "0d994888ecbec5a9",
        "name": "salva idConexao, nome, e mostar dispositivo ativo",
        "func": "var len = msg.payload.length;\nlet BV = [];\nvar arr = [];\nfor (var i=0; i<len; i++){\n    if (msg.payload[i].conexao){\n        BV[i] = msg.payload[i].nome;\n    }\n    arr[i] = {\n        nome: msg.payload[i].nome,\n        idConexao: msg.payload[i].idConexao\n    };\n}\nif (BV.length ==0){\n    BV[0] = \"Nenhum Dispositivo Ativo!\" \n}\ncontext.flow.arrContx = arr;\nmsg.options = BV;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 480,
        "wires": [
            [
                "2586f8b62f2c8535",
                "967d496d.a17698"
            ]
        ]
    },
    {
        "id": "2586f8b62f2c8535",
        "type": "debug",
        "z": "0d994888ecbec5a9",
        "name": "debug 77",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "options",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 480,
        "wires": []
    },
    {
        "id": "5615359c9c0a4a7e",
        "type": "function",
        "z": "0d994888ecbec5a9",
        "name": "retorna idConexao do Disp Selecionado ",
        "func": "var arr = context.flow.arrContx;\nvar len = arr.length;\nfor (var i=0; i<len; i++){\n    if(msg.payload == arr[i].nome){\n        msg.idConexao = arr[i].idConexao;\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 560,
        "wires": [
            [
                "564e31b840a0c3da",
                "23c5725ec0e1761e"
            ]
        ]
    },
    {
        "id": "307323cbec773606",
        "type": "ui_upload",
        "z": "0d994888ecbec5a9",
        "group": "942911e5a152ccc7",
        "title": "Upload: ",
        "name": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "chunk": 256,
        "transfer": "binary",
        "x": 570,
        "y": 680,
        "wires": [
            [
                "8e8ef3cf4233b501",
                "ca3a1b8ec6796198"
            ]
        ]
    },
    {
        "id": "82c922e914e5e008",
        "type": "debug",
        "z": "0d994888ecbec5a9",
        "name": "debug 79",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 680,
        "wires": []
    },
    {
        "id": "564e31b840a0c3da",
        "type": "function",
        "z": "0d994888ecbec5a9",
        "name": "save idConexao context",
        "func": "context.global.idConexao = msg.idConexao;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 620,
        "wires": [
            [
                "e3748c473007c80b"
            ]
        ]
    },
    {
        "id": "e7f391dd4e00ccb6",
        "type": "ui_text",
        "z": "0d994888ecbec5a9",
        "group": "942911e5a152ccc7",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "saida upload",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 990,
        "y": 720,
        "wires": []
    },
    {
        "id": "8e8ef3cf4233b501",
        "type": "subflow:63b650c6a477cad2",
        "z": "0d994888ecbec5a9",
        "name": "",
        "x": 780,
        "y": 680,
        "wires": [
            [
                "e7f391dd4e00ccb6",
                "82c922e914e5e008"
            ]
        ]
    },
    {
        "id": "ca3a1b8ec6796198",
        "type": "trigger",
        "z": "0d994888ecbec5a9",
        "name": "",
        "op1": " ",
        "op2": " ",
        "op1type": "str",
        "op2type": "str",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 770,
        "y": 720,
        "wires": [
            [
                "e7f391dd4e00ccb6"
            ]
        ]
    },
    {
        "id": "e3748c473007c80b",
        "type": "debug",
        "z": "0d994888ecbec5a9",
        "name": "debug 80",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 620,
        "wires": []
    },
    {
        "id": "80de0448bc5472fd",
        "type": "ui_template",
        "z": "0d994888ecbec5a9",
        "group": "942911e5a152ccc7",
        "name": "Select",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    h4.subTitle {\n        padding: 10px 40px;\n    }\n</style>\n<div>\n    <h4 class=\"subTitle\"> Selecione o Dispositivo que deseja fazer Upload (clique no botão acima para atualizar a lista):</h4>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 390,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "e7109707997b5d55",
        "type": "ui_template",
        "z": "0d994888ecbec5a9",
        "group": "7246bb7ca45fc30a",
        "name": "Title",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    h3.subTitle {\n        padding: 8px 40px;\n    }\n</style>\n<div>\n    <h3 class=\"subTitle\">Dispositivos: </h4>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 90,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "fc36e091f7ab847f",
        "type": "function",
        "z": "0d994888ecbec5a9",
        "name": "Atualiza Coneções Ativas",
        "func": "let arr = [];\n    arr = {\n        segundosEsperaRespostas: 6,\n        idConfiguracao: context.flow.IDwifi\n    };\nmsg.payload = arr;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 340,
        "wires": [
            [
                "7d4b6335905a806d",
                "1a3c492ed44cb8bb"
            ]
        ]
    },
    {
        "id": "b1f02f8ef6aeb7b3",
        "type": "debug",
        "z": "0d994888ecbec5a9",
        "name": "debug 81",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 340,
        "wires": []
    },
    {
        "id": "e8e12ef7e8753864",
        "type": "ui_template",
        "z": "0d994888ecbec5a9",
        "group": "7246bb7ca45fc30a",
        "name": "Serviços list Button",
        "order": 6,
        "width": "2",
        "height": 1,
        "format": "<!DOCTYPE html>\n<html>\n<head>\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    <style type=\"text/css\">\n        .fa_custom5{\n            position: absolute;\n            top: 5px;\n            left: 30px;\n            color: #00BFFF; \n        }\n        .button5{\n            padding: 0;\n            background-color: #097479;\n            border-radius: 12px;\n        }\n    </style>\n    <script>\n        (function(scope) {\n            var clickCounter=2;\n            scope.clickEvent = function(){\n                if (clickCounter % 2 == 0){\n                    scope.send({payload:'show'});\n                }\n                if (clickCounter% 2 > 0){\n                    scope.send({payload:'hide'});\n                }\n                clickCounter++;\n            }\n        })(scope);\n    </script>\n</head>\n\n<body>\n    <md-button class=\"button5\" title=\"SHOW, HIDE and UPDATE, lista de Serviços\" ng-click=\"clickEvent()\">\n        <i class=\"fa fa-server fa_custom5 fa-2x\" ></i>\n    </md-button >\n</body>\n\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 130,
        "y": 820,
        "wires": [
            [
                "3225a9aff5b38470"
            ]
        ]
    },
    {
        "id": "04a105e7fa8a1ea8",
        "type": "ui_ui_control",
        "z": "0d994888ecbec5a9",
        "name": "",
        "events": "all",
        "x": 540,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "bcce7872ad5ad06e",
        "type": "debug",
        "z": "0d994888ecbec5a9",
        "name": "debug 82",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 160,
        "wires": []
    },
    {
        "id": "2da9d84209a5eb69",
        "type": "delay",
        "z": "0d994888ecbec5a9",
        "name": "",
        "pauseType": "delay",
        "timeout": "7",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 560,
        "y": 400,
        "wires": [
            [
                "55f8d9ffc83c7af3"
            ]
        ]
    },
    {
        "id": "812012753d0ba649",
        "type": "ui_template",
        "z": "0d994888ecbec5a9",
        "group": "7246bb7ca45fc30a",
        "name": "Atualizar lista de Dispositivos Button Novo",
        "order": 4,
        "width": 4,
        "height": 1,
        "format": "<head>\n<style>\n    .button {\n        position: relative;\n        padding: 8px 16px;\n        background: #097479;\n        border: none;\n        outline: none;\n        border-radius: 12px;\n        cursor: pointer;\n    }\n\n    .button:active {\n        background: #007a63;\n    }\n\n    .button__text {\n        transition: all 0.2s;\n        position: absolute;\n        top: 1px;\n        left: 70px;\n        color: #ffffff;\n    }\n\n    .button--loading .fa_customBT{\n        visibility: hidden;\n        opacity: 0;\n    }\n\n    .button--loading::after {\n        content: \"\";\n        position: absolute;\n        width: 16px;\n        height: 16px;\n        top: 5px;\n        left: 20px;\n        border: 4px solid transparent;\n        border-top-color: #ffffff;\n        border-radius: 50%;\n        animation: button-loading-spinner 1s ease infinite;\n    }\n    .fa_customBT{\n        position: absolute;\n        top: 5px;\n        left: 20px;\n        color: #00BFFF;\n        transition: all 0.2s;\n    }\n    @keyframes button-loading-spinner {\n        from {\n            transform: rotate(0turn);\n        }\n\n        to {\n            transform: rotate(1turn);\n        }\n    }\n</style>\n<script>\n    (function(scope) {\n        scope.toggleLoding = function(){\n            const botaoNovo = document.querySelector(\".button\");\n            botaoNovo.classList.toggle(\"button--loading\");\n            scope.send({payload:\"att\"});\n            setTimeout(function() { \n                botaoNovo.classList.toggle(\"button--loading\");      \n            }, 8000);\n        }\n    })(scope);\n</script>\n</head>\n\n<body>\n    <md-button class=\"button\" title=\"Atualizar lista de Dispositivos\" ng-click=\"toggleLoding()\">\n        <i class=\"fa fa-refresh fa_customBT fa-2x\" ></i>\n        <spam class=\"button__text\"> Dispositivos</spam>\n    </md-button\n</body>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 200,
        "y": 400,
        "wires": [
            [
                "fc36e091f7ab847f",
                "2da9d84209a5eb69"
            ]
        ]
    },
    {
        "id": "23c5725ec0e1761e",
        "type": "debug",
        "z": "0d994888ecbec5a9",
        "name": "debug 85",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "idConexao",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 560,
        "wires": []
    },
    {
        "id": "d7cd03f9f9e0ca59",
        "type": "subflow:3b59c7cb71354422",
        "z": "0d994888ecbec5a9",
        "name": "",
        "x": 560,
        "y": 840,
        "wires": [
            [
                "b91f2a86c9e8a7d5"
            ]
        ]
    },
    {
        "id": "b91f2a86c9e8a7d5",
        "type": "ui_table",
        "z": "0d994888ecbec5a9",
        "group": "93ef745fd1be13da",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 730,
        "y": 840,
        "wires": []
    },
    {
        "id": "3225a9aff5b38470",
        "type": "function",
        "z": "0d994888ecbec5a9",
        "name": "function 4",
        "func": "\nif(msg.payload == \"show\"){\n    msg.payload = {\n        \"group\": { 'show': ['Experimentador_Servicos'] }\n    };\n}\nif(msg.payload == \"hide\"){\n    msg.payload = {\n        \"group\": { 'hide': ['Experimentador_Servicos'] }\n    };\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 820,
        "wires": [
            [
                "a04297adcbf79957",
                "04a105e7fa8a1ea8",
                "d7cd03f9f9e0ca59"
            ]
        ]
    },
    {
        "id": "a04297adcbf79957",
        "type": "debug",
        "z": "0d994888ecbec5a9",
        "name": "debug 87",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 880,
        "wires": []
    },
    {
        "id": "5b4f33080b7dbc7f",
        "type": "comment",
        "z": "0d994888ecbec5a9",
        "name": "Botão SHOW/HIDE a atualiza lista de Serviços ",
        "info": "",
        "x": 220,
        "y": 760,
        "wires": []
    },
    {
        "id": "c8397d208eea04c2",
        "type": "comment",
        "z": "376708e12772b405",
        "name": "Home",
        "info": "",
        "x": 190,
        "y": 80,
        "wires": []
    },
    {
        "id": "9ef7134023492c72",
        "type": "ui_template",
        "z": "376708e12772b405",
        "group": "b6adb5e6150b3a91",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    h1.titulo {\n        text-align: center;\n        font-size: 80px;\n    }\n\n    h4.subTitle {\n        padding: 10px 40px;\n    }\n</style>\n<div>\n    <h1 class=\"titulo\" >Bem Vindo ao OTALab</h1>\n    <h4 class=\"subTitle\"> Clique no botão abaixo para começar a usar o OTALab como Experimentador: </h4>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 180,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "81f747aae08b3ad2",
        "type": "ui_ui_control",
        "z": "376708e12772b405",
        "name": "",
        "events": "all",
        "x": 400,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "ee6c1728ba409abc",
        "type": "ui_template",
        "z": "376708e12772b405",
        "group": "b6adb5e6150b3a91",
        "name": "Botão Experimentador ",
        "order": 3,
        "width": 5,
        "height": 1,
        "format": "<!DOCTYPE html>\n<html>\n<head>\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    <style type=\"text/css\">\n        .fa_customBack{\n            position: absolute;\n            top: 5px;\n            left: 30px;\n            color: #FFFFF;\n        }\n        .buttonBack{\n            padding: 0;\n            background-color: #097479;\n            border-radius: 12px;\n        }\n        .button__text {\n            transition: all 0.2s;\n            position: absolute;\n            top: 1px;\n            left: 70px;\n            color: #ffffff;\n        }\n    </style>\n</head>\n\n<body>\n    <md-button class=\"buttonBack\" title=\"Voltar para Experimentador\" ng-click=\"send({'payload':'Experimentador'})\">\n        <i class=\"fa fa-cloud-upload fa_customBack fa-2x\" ></i>\n        <spam class=\"button__text\"> Experimentador</spam>\n    </md-button >\n</body>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "81f747aae08b3ad2"
            ]
        ]
    },
    {
        "id": "f6afa1c6d15cee3a",
        "type": "ui_ui_control",
        "z": "376708e12772b405",
        "name": "",
        "events": "all",
        "x": 840,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "c7b8d723843fcc31",
        "type": "comment",
        "z": "376708e12772b405",
        "name": "Go Back buttons ",
        "info": "Administrador",
        "x": 620,
        "y": 120,
        "wires": []
    },
    {
        "id": "0ff3b821e83d5a8c",
        "type": "ui_template",
        "z": "376708e12772b405",
        "group": "2bd24beee43c61d9",
        "name": "Voltar para Home",
        "order": 1,
        "width": 2,
        "height": 1,
        "format": "<!DOCTYPE html>\n<html>\n<head>\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    <style type=\"text/css\">\n        .fa_customH{\n            position: absolute;\n            top: 5px;\n            left: 30px;\n            color: #FFFFF;\n        }\n        .button4{\n            padding: 0;\n            background-color: #097479;\n            border-radius: 12px;\n        }\n    </style>\n</head>\n\n<body>\n    <md-button class=\"button4\" title=\"Voltar para Home\" ng-click=\"send({'payload':'Home'})\">\n        <i class=\"fa fa-home fa_customH fa-2x\" ></i>\n    </md-button >\n</body>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 630,
        "y": 160,
        "wires": [
            [
                "f6afa1c6d15cee3a"
            ]
        ]
    }
]